@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "AppleChancery";
  src: local("AppleChancery"),
    url("../src/fonts/AppleChancery.ttf") format("truetype");
}

@font-face {
  font-family: "CopperplateRegular";
  src: local("CopperplateRegular"),
    url("../src/fonts/CopperplateRegular.ttf") format("truetype");
}

@font-face {
  font-family: "NeulisAlt-Regular";
  src: local("NeulisAlt-Regular"),
    url("../src/fonts/NeulisAlt-Regular.otf") format("opentype");
}
* {
  font-family: "NeulisAlt-Regular";
}

.title {
  font-family: "CopperplateRegular";
}

.swiper-pagination-bullet-active {
  background-color: #849679 !important;
}

.CalendarDay__selected_span {
  background: #849679 !important;
  color: white;
  border: 1px solid white !important;
}

/* // Will edit selected date or the endpoints of a range of dates */
.CalendarDay__selected {
  background: #849679 !important;

  border: 1px solid white !important;
  color: white;
}

/* // Will edit when hovered over. _span style also has this property */
.CalendarDay__selected:hover {
  background: #495843 !important;
  color: white;
}

.CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span {
  background: #dde0e1 !important;
}
